{% extends 'muxic/theme.html' %}
{% block title %} MuXic {% endblock title %}
{% load staticfiles %}

{% block body %}
    <div class="container">
        <div class="row" id="TopDetail">
            <div class="col-md-9">
                <h1>Thông tin bài hát </h1>
                <h3 style="margin-left: 5%">Tên bài hát: {{ detSong.title }}</h3>
                <h3 style="margin-left: 5%">Nghệ sĩ: {{ detSong.artist }}</h3>
                {#                    <div id="mp3_player" class="col-md-12">#}
                {#	                    <canvas id="analyser_render"></canvas>#}
                {#	                        <div id="audio_box"></div>#}
                {#                    </div>#}
            </div>
            <div class="col-md-3"><br>
                <div class="col-md-12">
                    <img src="{{ detSong.logo.url }}" alt="Hình Album/user upload/ca sĩ"
                         style="width: 100%; height: 100%">
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div id="mp3_player">
                            <canvas id="analyser_render"></canvas>
                            <div id="audio_box"></div>
                        </div>
                    </div>
                    {#                    <div class="col-md-3" style="margin-top: 55px">#}
                    {#                        <a href="#"><span class="glyphicon glyphicon-fast-backward" id="BtnPrev"></span></a>#}
                    {#                        <a href="#"><span class="glyphicon glyphicon-fast-forward" id="BtnNext"></span></a>#}
                    {#                    </div>#}
                </div>
            </div>

        </div>

        <div class="panel panel-body" id="Bottom">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="CMT" placeholder="Viết một bình luận...">
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default">Gửi bình luận</button>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9" id="left_song">
                        <div class="col-md-3">
                            <img src="{{ detSong.logo.url }}" id="UploadPic2">
                        </div>
                        <div class="col-md-9" style="border-left: 1px solid #9d9d9d">
                            <div class="col-md-12">
                                <h3>Lyrics:</h3>
                                <div id="Lyric_feild">

                                </div>
                            </div>
                            <div class="col-md-12">
                                <h3>Bình luận: </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-9">
                            <h4>Bài hát kế tiếp</h4>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn" style="margin-top: 2px">Tất cả</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <script>
        var audio = new Audio();
        audio.src = '{{ detSong.file.url }}';
        audio.controls = true;
        audio.loop = true;
        audio.autoplay = true;
    </script>

{% endblock body %}