{% extends 'muxic/theme.html' %}
{% block title %}Trang cá nhân{% endblock title %}

{% load staticfiles %}
{% block body %}
    <!-- ảnh trên web login -->
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="col-md-3" id="LeftMenu" style="background-color: #e7e7e7;">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-circle" src="{% static 'muxic/images/profile.png' %}   "
                             style="margin-left: 50px">
                    </div>
                    <div class="col-md-12">
                        <ul class="nav nav-tabs nav-stacked">
                            <li role="presentation" class="col-md-12 control-label" style="text-align: center"><h3>
                                <strong> {{ user_profile.user.username }}</strong></h3></li>
                            <li role="presentation" class="col-md-12 control-label"
                                style="margin-left: 17px;color: #357ae8 ">
                                <strong>Email: </strong> {{ user_profile.user.email }} </li>
                        </ul>
                        <div class="col-md-12  ">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#e"><span class="glyphicon "></span><strong>Yêu thích</strong></a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#"><span class="glyphicon "></span><strong>Nhạc upload</strong></a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-3">Tên bài hát</th>
                        <th class="col-md-3">Ca Sĩ</th>
                        <th class="col-md-3">Ngày cập nhật</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for song in user_profile.user.song_set.all %}
                        <tr>
                            <td class="col-md-3"><a href="{% url 'muxic:songdetail' song.pk %}">{{ song.title }}</a>
                            </td>
                            <td class="col-md-3">{{ song.artist }}</td>
                            <td class="col-md-3">{{ song.date_release }}</td>
                            <td>
                                <a href="{% url 'muxic:update_song' song.pk %}">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <form action="{% url 'muxic:delete_song' song.pk %}" method="post"
                                      style="display: inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="song_id" value="{{ song.id }}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    {% if favorite_song %}
                        {% for song in favorite_song %}
                            <tr>
                                <td class="col-md-3"><a
                                        href="{% url 'muxic:songdetail' song.id %}">{{ song.title }}</a>
                                </td>
                                <td class="col-md-3">{{ song.artist }}</td>
                                <td class="col-md-3">{{ song.date_release }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td><p>Không có bài hát yêu thích</p></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}